// T10TestTool.rc
#include "resource.h"
#include <winres.h>

#ifndef APSTUDIO_INVOKED

LANGUAGE 9, 1

IDD_T10TESTTOOL_DIALOG DIALOGEX 0, 0, 520, 437
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "T10 Reader Stability Test Tool"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device Connection",IDC_STATIC_GRP_DEVICE,8,8,504,100
    CONTROL         "USB Device (Port 100)",IDC_RADIO_USB,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,20,24,130,14
    CONTROL         "Serial Port",IDC_RADIO_SERIAL,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,20,44,80,14
    LTEXT           "COM Port:",IDC_LBL_COM_PORT,110,46,54,12
    EDITTEXT        IDC_EDIT_COM_PORT,168,44,36,14,ES_AUTOHSCROLL
    LTEXT           "(e.g. 1 = COM1)",-1,210,46,80,12
    PUSHBUTTON      "Connect",IDC_BTN_CONNECT,20,68,80,26
    PUSHBUTTON      "Disconnect",IDC_BTN_DISCONNECT,110,68,80,26,WS_DISABLED
    LTEXT           "Firmware:",IDC_LBL_FW_VER,210,24,52,12
    LTEXT           "---",IDC_STATIC_FW_VER,266,24,238,12
    LTEXT           "Device UID:",IDC_LBL_DEV_UID,210,44,60,12
    LTEXT           "---",IDC_STATIC_DEV_UID,274,44,230,12
    LTEXT           "Device SNR:",IDC_LBL_DEV_SNR,210,64,52,12
    LTEXT           "---",IDC_STATIC_DEV_SNR,266,64,238,12

    GROUPBOX        "Card Test",IDC_STATIC_GRP_CARD,8,116,504,84
    LTEXT           "Card Status:",IDC_LBL_CARD_STATUS,20,134,60,12
    LTEXT           "---",IDC_STATIC_CARD_STATUS,78,131,73,12
    LTEXT           "Cmd Count (0084000008):",IDC_LBL_CMD_COUNT,20,156,96,12
    LTEXT           "0",IDC_STATIC_CMD_COUNT,132,156,49,12
    LTEXT           "Error Count:",IDC_LBL_ERR_COUNT,214,155,62,12
    LTEXT           "0",IDC_STATIC_ERR_COUNT,282,155,50,12
    CONTROL         "Re-search card on error",IDC_CHK_RESEARCH_ON_ERR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,393,133,110,12
    PUSHBUTTON      "CPU Card Test",IDC_BTN_CPU_TEST,297,126,80,26,WS_DISABLED

    GROUPBOX        "Log",IDC_STATIC_GRP_LOG,8,188,504,240
    EDITTEXT        IDC_EDIT_LOG,16,202,488,216,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Clear Log",IDC_BTN_CLEAR_LOG,433,164,74,24
END

#endif // APSTUDIO_INVOKED
